global
    stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
    log stdout format raw local0 info

defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s
    log global

frontend stats
    bind *:8084
    stats enable
    stats uri /
    stats refresh 10s

frontend rest_api_client
    bind :3001
    default_backend rest_api_server

backend rest_api_server
    server rest_api rest:3000 check
